.Header {
  /* margin: 0 1%; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
}
.header-left {
  width: 25%;
}
.header-left__item {
  border: 2px black solid;
  text-align: center;
  font-size: 120%;
}
.header-title {
  font-family: 'Beau Rivage', cursive;
  font-family: 'Lavishly Yours', cursive;
  font-size: 375%;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.header-title__front {
  color: rgb(19, 59, 134);
}
.header-right {
  text-align: right;
  font-size: 120%;
  width: 25%;
}
