.post-item {
  text-align: center;
  margin: 1% 1%;
  width: 100%;
}

.post-item__title a {
  font-size: 130%;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  padding: 0%;
}
/* .post-item__image-container {
  margin: 0 auto;
  width: 90%;
} */
.post-item__image {
  max-width: 375px;
  width: 100%;
  max-height: 150px;
  margin-bottom: 1.5%;
}

.post-item__data {
  font-size: 0.8rem;
}

.post-item__stat a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .post-item {
    text-align: left;
  }
}
