.post-item {
  text-align: center;
  margin: 1% 1%;
}
.post-item__title {
  margin: 1.5% 0;
}

.post-item__title a {
  font-size: 140%;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  padding: 0%;
}

.post-item__image {
  max-width: 350px;
  width: 90%;
  max-height: 150px;
}

.post-item__data {
  font-size: 80%;
}

.post-item __stat a:hover {
  text-decoration: underline;
}
