.post-item-minor {
  text-align: center;
  margin: 2% 1%;
  width: 100%;
}

.post-item-minor__title a {
  color: black;
  font-weight: 200;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0%;
}

.post-item-minor__data {
  font-size: 80%;
  color: grey;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .post-item-minor {
    text-align: left;
  }
}
