.Post {
  justify-content: space-evenly;
  margin: 0.5% 2.5%;
  flex-wrap: wrap;
}

.post-title__container {
  font-size: 1.5rem;
  color: white;
  background-color: black;
  padding: 0.1% 0;
}
.post-title {
  margin: 0 0.5rem;
}
