.Post {
  justify-content: space-evenly;
  margin: 0.5% 0;
  flex-wrap: wrap;
}

.post-title__container {
  font-size: 150%;
  color: white;
  background-color: black;
}
.post-title {
  padding-left: 0.5%;
}
