body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  line-height: 1;
}

.App {
  padding: 0;
  margin: 1% auto;
  box-sizing: border-box;
  width: 80%;
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  /* font-weight: 800; */
  scroll-behavior: smooth;
}
.border-box {
  box-sizing: border-box;
}

/* div {
  border: 1px green solid;
} */
.dis-flex {
  display: flex;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-none {
  display: none;
}
